<!doctype html>
{% load static %}
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">


        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/space10-community/conversational-form@1.0.1/dist/conversational-form.min.js" crossorigin></script>

        <link rel="stylesheet" href="{% static 'css/styles.css' %}">

        <script>
            window.onload = function() {
              var conversationalForm = window.cf.ConversationalForm.startTheConversation({
                formEl: document.getElementById("questions"),
                context: document.getElementById("cf-context"),
                theme: "light",
                hideUserInputOnNoneTextInput: true,
                showProgressBar: true,
              });
            };
        </script>

        <title>If Informed</title>

    </head>
    <body>
        <div class="container">
            <h2><a id="logo" href="{% url 'home' %}">IF INFORMED</a></h2>
            {% block content %}
            {% endblock content %}
            <div class="bottom_copy">
                <br />
                    Copyright &copy; 2020 If Informed. All Rights Reserved | <a href="mailto:info@ifinformed.com">info@ifinformed.com</a>
            </div>
        </div>
    </body>
</html>
