{% extends 'base.html' %}

{% block content %}

<h3>What will happen?</h3>
<p>On the next page, we will ask you a few questions about your age, gender, income, race, and so on.</p>
<p>On the basis of data from the American National Election Studies (ANES), we will then estimate what position you likely would have taken on 10 political issues, had you been fully informed.</p>

<h3>Why?</h3>
<p>Politics is hard and few of us are able to keep up with the constant flow of political developments.</p>
<p>So we rely on shortcuts. For example, many of us listen to our more informed friends’ opinions. We think: if this person is 'quite like me' and really knows what’s going on, then their opinion is worth hearing.</p>
<p>You can think of this website as telling you what a particularly knowledgeable friend thinks about a number of political issues—where that friend just happens to be a highly-informed version of you.</p>

<h3>A grain of salt</h3>
<p>George Box, a prominent statistician, supposedly said that all models are wrong, but some are useful.</p>
<p>In the same vein, we don't assume that our models’ estimates are 100% correct, and neither should you.</p>
<p>But here’s something we know for a fact: we need to have a discussion about the role of knowledge in politics. And that’s where these models are useful: they enable us to have that discussion on the basis of some solid data, rather than by way of pure speculation.</p>

<h3>Who we are</h3>
<p>If Informed is a collaboration between <a href="http://www.ahlstromvij.com">Kristoffer Ahlstrom-Vij</a>, a researcher at Birkbeck, University of London, who works on knowledge and politics, and <a href="https://www.linkedin.com/in/alfredmalmros/">Alfred Malmros</a>, founder of the think-tank Early Studies.

<form action="{% url 'questions' %}">
    <input type="submit" value="Got it" />
</form>

{% endblock content %}
