{% extends 'base.html' %}

{% block content %}
<script>
    window.onload = function() {
      var conversationalForm = window.cf.ConversationalForm.startTheConversation({
        formEl: document.getElementById("questions"),
        context: document.getElementById("cf-context"),
        theme: "dark",
        hideUserInputOnNoneTextInput: true,
        showProgressBar: true,
        preventAutoFocus: false,
      });
    };
</script>

<div class="typewriter d-inline-flex">
    <h2><a id="logo" href="{% url 'home' %}">IF INFORMED</a></h2>
</div>

<div class="conversation" id="cf-context" role="cf-context" cf-context>
    <form action="/results/" method="post" id="questions" cf-form>
        <fieldset cf-questions="Hi there. Welcome to <strong>If Informed</strong>!">
        	<input type="radio" name="hello_question" id="hello" value="hello">
        	<label for="hello">Hello</label>
        </fieldset>

        <!-- <fieldset cf-questions="Hi there. Welcome to <strong>If Informed</strong>! What's your name?">
        	<input type="text" name="hello_question" id="hello">
        </fieldset> -->

        <fieldset cf-questions="Have you ever wondered whether you would think differently if you knew a LOT more about politics? Would you like to find out?">
            <input type="radio" name="have_you_ever_wondered" id="wondered" value="wondered">
            <label for="wondered">Er... how?</label>
        </fieldset>

        <fieldset cf-questions="We’re going to create a parallel universe with a more informed version of YOU in it!">
            <input type="radio" name="create_parallel_universe" id="parallel_universe" value="parallel_universe">
            <label for="parallel_universe">Really?!</label>
        </fieldset>

        <fieldset cf-questions="Well, no, that would be impossible. So we’re going to use data instead, to see if a 'more informed version of you' thinks differently about politics.">
            <input type="radio" name="that_would_be_impossible" id="impossible" value="how">
            <label for="impossible">How?</label>
        </fieldset>

        <fieldset cf-questions="We’re going to ask you a few of questions - about your age, gender, race, religion, education, things like that. (Don’t worry, we don’t store any of this.) Then we’re going to use your profile to find 'people like you' who know a LOT more about politics than the average person.">
            <input type="radio" name="people_like_you" id="like_you" value="how">
            <label for="like_you">What do you mean, 'people like me'?</label>
        </fieldset>

        <fieldset cf-questions="People who are the same age, gender, religion, race, etc., as you. Let's call them your <strong>'profile twins'</strong>. By using survey data from the <strong>American National Election Studies</strong>, we can find your 'twins', and look at the political attitudes of the ones that have scored highest on being 'politically informed'. They're really switched on, plugged in, and... informed. But in every other way, they’re just like you.">
            <input type="radio" name="profile_twins" id="ok_twins" value="ok">
            <label for="ok_how_it_works">OK</label>
            <input type="radio" name="profile_twins" id="more_how_it_works" value="more">
            <label for="more_how_it_works">What are we doing with them?</label>
        </fieldset>

        <fieldset cf-questions="Once you've answered the demographic questions, we’ll <strong>introduce you to a fully informed 'twin'</strong>. We will ask you some questions about political policies, and then tell you what their answers are so you can compare. Because we've constructed this twin from ‘politically savvy’ people who otherwise are just like you, it will be like comparing yourself to a more informed version of yourself.">
            <input type="radio" name="how_it_works" id="ok_how_it_works" value="ok" cf-conditional-profile_twins="more" />
            <label for="ok_how_it_works">OK, got it</label>
            <input type="radio" name="how_it_works" id="more_how_it_works" value="more" cf-conditional-profile_twins="more" />
            <label for="more_how_it_works">Tell me more</label>
        </fieldset>

        <fieldset cf-questions="We use a type of statistical modeling known as <strong>counterfactual modeling</strong> to tease out what combinations of demographic factors and levels of political knowledge tend to go with what political attitudes, and then estimate what attitudes people <i>would have</i> taken, had they been just the way they are across those demographic factors, but also highly politically informed. For more details, visit <strong><a href='{% url 'more_info' %}'>our FAQ page</a></strong>.">
            <input type="radio" name="george_box" id="ok_george_box" value="ok" cf-conditional-how_it_works="more" />
            <label for="ok_george_box">OK</label>
            <input type="radio" name="george_box" id="who_george_box" value="who" cf-conditional-how_it_works="more" />
            <label for="who_george_box">And who are you?</label>
        </fieldset>

        <fieldset cf-questions="If Informed is a collaboration between <a href='http://www.ahlstromvij.com' target='_blank'><strong>Kristoffer Ahlstrom-Vij</strong></a>, a researcher at Birkbeck, University of London, who works on knowledge and politics, and <a href='https://www.linkedin.com/in/alfredmalmros/' target='_blank'><strong>Alfred Malmros</strong></a>, founder of the think-tank Early Studies.">
            <input type="radio" name="who_we_are" id="got_it" value="ok" cf-conditional-george_box="who" />
            <label for="got_it">Got it. Let's go.</label>
        </fieldset>

        {% csrf_token %}
        {{ form.as_p }}

        <fieldset cf-questions="That's it! Now let's go <strong>meet your fully informed self</strong>. Ready?">
            <input type="radio" name="lets_go_question" id="lets_go" value="ok">
            <label for="lets_go">Yes!</label>
        </fieldset>
    </form>
</div>

{% endblock content %}
