{% extends 'base.html' %}

{% block content %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/space10-community/conversational-form@1.0.1/dist/conversational-form.min.js" crossorigin></script>

<script>
    window.onload = function() {
      var conversationalForm = window.cf.ConversationalForm.startTheConversation({
        formEl: document.getElementById("questions"),
        context: document.getElementById("cf-context"),
        theme: "light",
        hideUserInputOnNoneTextInput: true,
        showProgressBar: false,
      });
    };
</script>

<div class="center_and_padding" id="cf-context" role="cf-context" cf-context>
    <form action="/results/" method="post" id="questions" cf-form>
        <cf-robot-message cf-questions="Hi there. We have a couple of questions for you. Please note that we don't store any of your answers."></cf-robot-message>
        {% csrf_token %}
        {{ form.as_p }}
    </form>
</div>

{% endblock content %}
