{% extends 'base.html' %}

{% block content %}
<script>
    window.onload = function() {
      var conversationalForm = window.cf.ConversationalForm.startTheConversation({
        formEl: document.getElementById("questions"),
        context: document.getElementById("cf-context"),
        theme: "dark",
        hideUserInputOnNoneTextInput: true,
        showProgressBar: true,
        preventAutoFocus: false,
      });
    };
</script>

<div class="typewriter d-inline-flex">
    <h2><a id="logo" href="{% url 'home' %}">IF INFORMED</a></h2>
</div>

<div class="conversation" id="cf-context" role="cf-context" cf-context>
    <form action="/results/" method="post" id="questions" cf-form>
        <fieldset cf-questions="Hi there. Welcome to <strong>If Informed</strong>!">
        	<input type="radio" name="hello_question" id="hello" value="hello">
        	<label for="hello">Hi</label>
        </fieldset>

        <!-- <fieldset cf-questions="Hi there. Welcome to <strong>If Informed</strong>! What's your name?">
        	<input type="text" name="hello_question" id="hello">
        </fieldset> -->

        <fieldset cf-questions="In a moment, we will <strong>ask you a few questions</strong>. (Privacy note: we don't store your answers.) By analysing your answers alongside data from the American National Election Studies, we will then be able to <strong>introduce you to your fully informed self</strong>.">
            <input type="radio" name="ask_some_questions" id="why_initial" value="why">
            <label for="why_initial">Wait, what?</label>
        </fieldset>

        <fieldset cf-questions="Politics is hard and few of us can keep up with the constant flow of political developments. But imagine an alternative reality where you for years have spent every waking hour following politics and learning all the facts on which political policy turns: about economics, sociology, psychology - you name it. <strong>What you’re now imagining is your fully informed self</strong>, and that’s the person you will soon get to meet.">
            <input type="radio" name="politics_is_hard" id="ok_politics_is_hard" value="ok" cf-conditional-ask_some_questions="why" />
            <label for="ok_politics_is_hard">OK</label>
            <input type="radio" name="politics_is_hard" id="how_politics_is_hard" value="how" cf-conditional-ask_some_questions="why" />
            <label for="how_politics_is_hard">How does it work?</label>
        </fieldset>

        <fieldset cf-questions="By looking at large-scale survey data, we can tease out what combinations of demographic factors (e.g., age, gender, race) and levels of political knowledge tend to go with what political attitudes. Once we have done that, <strong>we can also estimate what attitudes people <i>would have</i> taken, had they been just the way they are across those demographic factors, but also highly politically informed</strong>. That’s what we will be doing for you. We will ask you to plug in a variety of demographic variables. But our models have an additional variable that you don’t get to set: how politically informed you are. We’ve already set that one to the maximum value.">
            <input type="radio" name="how_it_works" id="ok_how_it_works" value="ok" cf-conditional-politics_is_hard="how" />
            <label for="ok_how_it_works">OK, got it</label>
            <input type="radio" name="how_it_works" id="more_how_it_works" value="more" cf-conditional-politics_is_hard="how" />
            <label for="more_how_it_works">Tell me more</label>
        </fieldset>

        <fieldset cf-questions="We use a type of statistical modeling known as <strong>counterfactual modeling</strong>. (For more details, visit <strong><a href='{% url 'more_info' %}'>our FAQ page</a></strong>.) Now, George Box, a prominent statistician, supposedly said that <strong>all models are wrong, but some are useful</strong>. In the same vein, we are under no illusion that our models' estimates are 100% accurate, and neither should you be. What we do know, however, is that <strong>we need to have a discussion about the role of knowledge in politics</strong>. These models help us have that discussion on the basis of some solid data, rather than pure speculation.">
            <input type="radio" name="george_box" id="ok_george_box" value="ok" cf-conditional-how_it_works="more" />
            <label for="ok_george_box">OK</label>
            <input type="radio" name="george_box" id="who_george_box" value="who" cf-conditional-how_it_works="more" />
            <label for="who_george_box">And who are you?</label>
        </fieldset>

        <fieldset cf-questions="If Informed is a collaboration between <a href='http://www.ahlstromvij.com' target='_blank'><strong>Kristoffer Ahlstrom-Vij</strong></a>, a researcher at Birkbeck, University of London, who works on knowledge and politics, and <a href='https://www.linkedin.com/in/alfredmalmros/' target='_blank'><strong>Alfred Malmros</strong></a>, founder of the think-tank Early Studies.">
            <input type="radio" name="who_we_are" id="got_it" value="ok" cf-conditional-george_box="who" />
            <label for="got_it">Got it. Let's go.</label>
        </fieldset>

        {% csrf_token %}
        {{ form.as_p }}

        <fieldset cf-questions="That's it! Now let's go <strong>meet your fully informed self</strong>. Ready?">
            <input type="radio" name="lets_go_question" id="lets_go" value="ok">
            <label for="lets_go">Yes!</label>
        </fieldset>
    </form>
</div>

{% endblock content %}
