@import url(https://fonts.googleapis.com/css?family=Raleway:100,300,400,700&display=swap);

input[type="button"], input[type=submit]{
    -webkit-appearance: none;
}

* {
    font-family: 'Raleway';
}

p {
    font-size: 15px;
}

#logo {
    text-decoration: none;
    color: black;
}

.conversation {
    height: 80vh;
    visibility: hidden;
}

.result {
    font-size: 14px;
}

.submit_button {
    font-weight: 300;
    border-radius: 25px;
    -moz-border-radius: 25px;
    font-size: 15px;
    padding: 10px 15px 10px 15px;
    color: black;
    background-color: white;
}
.submit_button:hover {
    font-weight: 300;
    border-radius: 25px;
    -moz-border-radius: 25px;
    font-size: 15px;
    padding: 10px 15px 10px 15px;
    color: white;
    background-color: black;
}

.navigation_button {
    border-radius: 15px;
    -moz-border-radius: 15px;
    font-size: 13px;
    padding: 4px 15px 4px 15px;
    color: black;
    background-color: white;
}

.navigation_button:hover {
    border-radius: 15px;
    -moz-border-radius: 15px;
    font-size: 13px;
    padding: 4px 15px 4px 15px;
    color: white;
    background-color: black;
}

.no_underline {
    text-decoration: none !important;
}

code {
    font-family: monospace, serif;
    font-weight: 100;
    color: #2b2d2f;
    background-color: #EEE;
    padding: 2px;
}

.radio_button {
    font-weight: 300;
    border-radius: 25px;
    -moz-border-radius: 25px;
    font-size: 12px;
    padding: 5px 15px 5px 15px;
    color: black;
    background-color: white;
}

.radio_button:hover {
    font-weight: 300;
    border-radius: 25px;
    -moz-border-radius: 25px;
    font-size: 12px;
    padding: 5px 15px 5px 15px;
    color: white;
    background-color: black;
}

#note_on_scales {
    font-size: 10px !important;
}

.container {
    padding: 5px 20px 20px 20px;
}

.bottom_copy {
    font-size: 11px;
    text-align: center;
}

.navigation_digit {
    font-weight: bold;
}

.collapsible {
    background-color: #f1f1f1;
    color: black;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-family: 'Raleway';
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.active, .collapsible:hover {
    background-color: #f1f1f1;
}

.collapsible-content {
    padding-top: 0px;
    padding-bottom: 15px;
    padding-left: 0px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #FFFFFF;
    font-size: 14px;
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 10px;
    color: white;
    float: right;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
